<div data-scope-path="privacy_policies/show">
    <div class="container">
        <h2>プライバシーポリシー</h2>
        <p>当サイトにおける個人情報の取扱いについて、以下のとおりにプライバシーポリシーを定めます。</p>
        <h4>第1条（運営者情報）</h4>
        <p>運営者：proitt official</p>
        <p>お問い合わせ：下部リンクの<%= link_to 'お問い合わせ', inquiry_path %>をご利用ください</p>
        <h4>第2条（個人情報の利用目的）</h4>
        <p>当サイトでは、メールでのお問い合わせやコメントの際に、お名前（ハンドルネーム）・メールアドレス等の個人情報をご登録いただく場合があります。</p>
        <p>これらの個人情報は、質問に対する回答や必要な情報をご連絡するために利用し、それ以外の目的では利用しません。</p>
        <h4>第3条（個人情報の第三者への開示）</h4>
        <p>個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。</p>
        <ul>
            <li>本人のご了解がある場合</li>
            <li>法令等への協力のため、開示が必要となる場合</li>
        </ul>
        <h4>第4条（個人情報の開示・訂正・追加・削除・利用停止）</h4>
        <p>個人情報の開示・訂正・追加・削除・利用停止をご希望の場合には、ご本人であることを確認したうえで、速やかに対応致します。</p>
        <h4>第5条（Cookie）</h4>
        <p>当サイトでは、一部のコンテンツにおいてCookieを利用しています。</p>
        <p>Cookieとは、webコンテンツへのアクセスに関する情報であり、お名前・メールアドレス・住所・電話番号は含まれません。</p>
        <p>また、お使いのブラウザ設定からCookieを無効にすることが可能です。</p>
        <h4>第6条（当サイトへのコメント）</h4>
        <p>当サイトでは、以下の内容を含むコメントは運営者の裁量によって削除することがあります。</p>
        <ul>
            <li>特定の自然人または法人を誹謗し、中傷するもの</li>
            <li>極度にわいせつな内容を含むもの</li>
            <li>禁制品の取引に関するものや、他者を害する行為の依頼など、法律によって禁止されている物品、行為の依頼や斡旋などに関するもの</li>
            <li>その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの</li>
        </ul>
        <h4>第7条（著作権）</h4>
        <p>当サイトは<a href="https://www.youtube.com/t/terms" target="_blank" rel="noopener noreferrer">YouTube利用規約</a>に則って動画掲載をしています。</p>
        <p>当サイトで掲載している動画等の著作権・肖像権等は各権利所有者に帰属します。権利を侵害する目的ではありません。</p>
        <p>掲載動画等に問題がある場合、各権利所有者様本人が<%= link_to 'お問い合わせ', inquiry_path %>からご連絡下さい。本人確認後、対応致します。</p>
        <h4>第8条（免責事項）</h4>
        <p>当サイトからリンクやバナーなどによって他のサイトに移動した場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。</p>
        <p>当サイトのコンテンツについて、可能な限り正確な情報を掲載するよう努めていますが、誤情報が入り込んだり、情報が古くなっている場合があります。当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
        <h4>第9条（プライバシーポリシーの変更）</h4>
        <p>当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。</p>
        <p>修正された最新のプライバシーポリシーは常に本ページにて開示されます。</p>
        <p>初出掲載：2019年12月10日</p>
        <p>最終更新：2019年12月10日</p>
    </div>
</div>