// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-scope-path="videos/index"] {
    $thumbnail-width: 120px;
    $count-videos-by-tag: 4;

    .container {
        .row {
            .row {
                margin-bottom: 3rem;

                .tag {
                    text-align: center;
                    margin-bottom: 1rem;

                    a {
                        display: block;
                        border-radius: 10px;
                        color: white;
                        background: #639D97;
                    }
                }
                .videos {
                    text-align: center;

                    .videos__video {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 1rem;

                        img {
                            width: $thumbnail-width;
                        }

                        p {
                            text-align: left;
                            width: $thumbnail-width;
                            word-wrap: break-word;
                        }

                        // 最初からX番目まで
                        a::nth-child(-n+3) {
                            margin-right: 10px;
                        }
                    }

                }
            }
        }
    }
}