[data-scope-path="videos/search"] {
    $margin-space: 15px;

    margin-bottom: 10px;

    .container {

        .row {
            padding: 0 $margin-space 0 $margin-space;

            .video {
                margin-top: 20px;

                img {
                    float: left;
                    width: 30%;
                }

                p {
                    float: left;
                    vertical-align: top;
                    width: 70%;
                    word-wrap: break-word;
                    padding-left: 10px;
                }
            }

            .video:after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }

        /* スマートフォン縦
    ------------------------------ */
    @media screen and (max-width:479px) {
        .video {

            img {
                min-width: 40%;
            }

            p {
                max-width: 60%;
            }
        }
    }
}