[data-scope-path="tags/index"] {
    $thumbnail-width: 250px;
    $thumbnail-height: 140px;

    .container {
        padding-left: 0;

        .label {
            font-size: 2rem;
        }

        .row {
            padding-left: 15px;
            padding-top: 2rem;

            .video {
                display: block;

                img {
                    width: $thumbnail-width;
                    height: $thumbnail-height;
                }

                p {
                    display: inline-block;
                    vertical-align: top;
                    width: 33.333%;
                    height: $thumbnail-height;
                    word-wrap: break-word;
                }
            }
        }
    }
}