[data-scope-path="tags/index"] {
    $margin-space: 15px;

    .container {

        .label__tag {
            font-size: 2rem;
            border-radius: 20px;
            text-align: center;
            background-color: #709C97;
            color: #ffffff;
        }

        .row {
            padding: 0 $margin-space 0 $margin-space;

            .video {
                margin-top: 20px;

                img {
                    float: left;
                    width: 30%;
                }

                p {
                    float: left;
                    vertical-align: top;
                    width: 70%;
                    word-wrap: break-word;
                    padding-left: 10px;
                }
            }

            .video:after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }

        /* スマートフォン縦
    ------------------------------ */
    @media screen and (max-width:479px) {
        .video {

            img {
                min-width: 40%;
            }

            p {
                max-width: 60%;
            }
        }
    }
}