[data-scope-path="comments/index"] {
    $border-color: #CCCCCC;
    $thumbnail-height: 90px;
    $thumbnail-width: 120px;

    .container {
        .comment {
            margin-bottom: 40px;

            .comment__video-thumbnail {
                img {
                    height: $thumbnail-height;
                    width: $thumbnail-width;
                }
            }

            .comment__video-title {
                width: $thumbnail-width;
            }

            .comment__btn {
                text-align: right;
                padding-right: 0;

                .comment__btn-edit {
                    display: inline-block;
                    margin-right: 10px;
                }

                .comment__btn-delete {
                    display: inline-block;
                }
            }
        }
    }

    /* スマートフォン縦
    ------------------------------ */
    @media screen and (max-width:479px) {
        .row {
            .nav {
                font-size: 3vw;

                li {
                    a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            .comment {
                margin-bottom: 20px;

                .comment__video {
                    margin-bottom: 2px;

                    .comment__video-thumbnail {
                        img {
                            float: left;
                            height: auto;
                            width: 50%;
                        }
                    }

                    .comment__video-title {
                        float: left;
                        width: 50%;
                        padding-left: 5px;
                        font-size: 1px;
                    }
                }
                .comment__video:after {
                    conrent: '';
                    display: block;
                    clear: both;
                }

                .row {
                    margin: 0 0;

                    .comment__btn {
                        .comment__btn-edit {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}