<div data-scope-path="videos/index">
    <div class="container">
        <% @tags.each do |tag| %>
            <div class="row">
                <p><%= link_to tag.tag, tags_path(tag) %></p>
                <% @videos[tag.tag.to_sym].each do |video| %>
                    <div class="video">
                        <%= link_to image_tag(video.thumbnail_url), video_path(video) %>
                        <p><%= video.title %></p>
                    </div>
                <% end %>
            </div>
        <% end %>
        <%= paginate @tags %>
    </div>
</div>