[data-scope-path="users/delete"] {
    .container {
        .user-delete {
            .user-delete__notes {
                p {
                    color: #A35652;
                }
            }
        }
    }

        /* スマートフォン縦
    ------------------------------ */
    @media screen and (max-width:479px) {
        .row {
            .nav {
                font-size: 3vw;

                li {
                    a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            .user-delete {
                .user-delete__notes {
                    p {
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}