[data-scope-path="users/show"] {
    .container {
        .profile__user-image {
            display: inline-block;

            img {
                height: 100px;
                width: 100px;
            }
        }

        .profile__user-name {
            display: inline-block;
        }
    }

    /* スマートフォン縦
    ------------------------------ */
    @media screen and (max-width:479px) {
        .row {
            .nav {
                font-size: 3vw;

                li {
                    a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            .profile__user-image {
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}