<div data-scope-path="tags/index">
    <div class="container">
        <span class="label label-primary"><%= @tag.tag %></span>
        <div class="row">
            <%= render 'videos/videos_list', {videos: @videos} %>
        </div>
        <%= paginate @videos %>
    </div>
</div>