<div data-scope-path="tags/index">
    <div class="container">
        <div class="label__tag"><%= @tag.tag %></div>
        <div class="row">
            <%= render 'videos/videos_list', {videos: @videos} %>
        </div>
        <%= paginate @videos %>
    </div>
</div>