/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "scopes/videos/*";
 @import "scopes/tags/*";
 @import "scopes/comments/*";
 @import "scopes/inquiries/*";
 @import "scopes/users/*";
 @import "scopes/favorites/*";
 @import "scopes/privacy_policies/*";
 @import "scopes/terms/*";
 @import "scopes/introductions/*";

 body {
     $navbar-height: 50px;

     display: flex;
     flex-direction: column;
     min-height: 100vh;

    .navbar {
        .navbar-brand {
            padding: 0 15px;

            img {
                height: $navbar-height;
            }
        }

        .navbar__search-form{
            float: left;
            height: $navbar-height;
            padding: 10px 10px;
        }

        .navbar__user-icon {

            .navbar__user-logout-status {
                $a-tag-height: 20px;

                a {
                    text-decoration-line: none;
                    color: #858585;
                    display: block;
                    margin-top: $navbar-height/2-$a-tag-height/2;
                }
            }

            button {
                padding: 0px 1px;
                height: 100%;
            }

            img {
                height: 100%;
                width: $navbar-height;
            }
        }
    }

    .flash {
        padding-top: $navbar-height+10px;
    }

    .footer {
        margin-top: auto;

        .footer__menue {
            color: #ffffff;
            background-color: #5c5c5c;

            a {
            color: #ffffff;
            }
        }

        .footer__copyright {
            color: #ffffff;
            background-color: #222222;
        }
    }
 }