<div data-scope-path="inquiries/show">
    <div class="container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJxwN-4KFjuuFYXtk_-DUue2M6ifsMZCTPlqjL3c24VWEZqw/viewform?embedded=true" width="640" height="816" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>
</div>