[data-scope-path="favorites/index"] {
    .container {
        .row {
            .video {
                padding-bottom: 20px;

                img {
                    float: left;
                    width: 30%;
                }

                p {
                    float: left;
                    vertical-align: top;
                    width: 70%;
                    word-wrap: break-word;
                    padding-left: 10px;
                }
            }

            .video:after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }

    /* スマートフォン縦
    ------------------------------ */
    @media screen and (max-width:479px) {
        .row {
            .nav {
                font-size: 3vw;

                li {
                    a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            .video {
                margin-left: 10px;

                img {
                    min-width: 50%;
                }

                p {
                    max-width: 50%;
                }
            }
        }
    }
}