<%= search_form_for(@q, url:search_path) do |f| %>
    <div class="navbar__search-input-field">
        <%= f.search_field :title_or_description_cont, placeholder: '動画検索' %>
    </div>
    <div class="navbar__search-button">
        <%= f.submit %>
    </div>
<% end %>