<div class="navbar__user-logout-status">
    <%= link_to 'ログイン', '/auth/github', data: {confirm: "利用規約とプライバシーポリシーに同意してログイン処理に進みますか?"} unless current_user %>
</div>
<% if current_user %>
    <div class="dropdown navbar__user-login-status">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-menu-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= content_tag(:img, '', src: current_user.image_url, alt: 'プロフィール画像') %>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-menu-user">
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', logout_path %></li>
        </ul>
    </div>
<% end %>